.medium {
    float: left;
	width: 180px;
	height: 10%;
}
.navbar {
    background-color: #fff;
}
.navbar-toggle {
    color: #000;
}
.list a {
	color: #000;
	font-weight: 200;
}
#nav-button {
	margin-right: 15px;
	margin-top: 10px;
	background-color: transparent;
	color: #555;
	border:1px #555 solid !important;
	border-radius: 15px;
}
#nav-button : hover {
	background-color: #dsdsad;
	color: #fff;
}
/******************main body********************/
.MainBody {
    margin-top: 50px;

    background-color: #f8f8f8;
    min-height: 500px;
}

.tags {
    margin-top: 150px; 

}
.myTags {
    width: auto;
    background-color: #fff;
    border-color: #000;
    border-radius: 6px;
    color: #888;
    float: left;
    margin-left: 5px;
    height: 40px;
    padding: 8px;
}
.story {
    width: 85%;
    margin-left: 10%;
}
.StoryForm {
    background-color: #fff;
    padding: 10px;
}
.icon-btn { 
    background-color: transparent;
    color: #000;
    padding: 5px 15px 5px 5px; 
    border-radius:50px;
    font-size: 18px;
    margin-top: 3%;
    margin-left: 5%;
}
/**********Seacrh Bar **************/
#search-input{
    width: 15%;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#search-input input{
    border: 0;
    box-shadow: none;
}

#search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#search-input .glyphicon-search{
    font-size: 23px;
}
#cke_1_top {
    /*display: none;*/
    
}